body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #000;
  background-color: #FFFFFF;
/*  overflow:scroll;
*/}

h1, h2, h3, h4, h5, h6{
  font-weight: 200;
}

h2 {
  margin-left: 40px;
}

input{
  margin: 0px 0px 20px 20px;
  padding: 8px 10px;
  border: none;
  outline: none;
}

button{
  padding: 8px 20px;
  background-color: #2ecc71;
  color: #000;
  border: none;
  cursor: pointer;
}

.addQuestions, h1{
  margin: 20px auto;
  text-align: center;
  color: #000;
}

.info{
  text-align: center;
}

.info li{
  list-style-type: none;
  color: #000;
}

.info button{
  margin: 30px 0;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.questionsWrapper div{
  display: none;
  position: absolute;
}

.questionsWrapper div.is-active{
  display: block;
}

.questionDiv{
  margin: 20px auto;
  text-align: center;
  width: 100%;
}

.questionDiv li{
  list-style-type: none;
  color: #000;
  padding: 12px 0;
}

.questionDiv li.correct, .questionDiv li.wrong{
  cursor: pointer;
}

.questionDiv label {
  width:50%;
}

.answersCorrect{
  color: #000;
  text-align: center;
}

.nextButton{
  margin: 20px auto;
}

#quiz-results{
}

.halfArea {
  float:left;
  width: 45%;
  margin-left: 20px;
}

#animationField {
  float:right;
  margin-left: 20px;
}

.padding-answer-line-mapping
{
    padding-bottom:8px;
}

.answer-container
{
    width:40px;
    height:30px;
    background-color:#ccc;
    border:1px solid #ccc;
    margin:2px;
    float:left;
    text-align:center;
    padding-top:8px;
    cursor:pointer;
    position:relative;
    z-index:4;
}

.answer-cont, .answer2-cont {
  border:1px solid #ccc;
  margin:2px;
  text-align: center;
  cursor:pointer;
  border-radius: 50px;
  
  background-color:#FFFFFF;
  color:#9629ba;
  border:1px solid #4893B3;

}

.answer-cont:hover, .answer2-cont:hover, .answer-cont:focus, .answer2-cont.focus, .answer2-cont:active, .answer-cont:active {
 /* background-color: #0076e9;
  color: white;
  border: 1px solid #0076e9;*/

  border-radius: 50px;
  background-color: #9629ba;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.answer-container:hover, .answer-container:focus, .answer-container:active
{
    background-color: #0076e9;
    color: white;
    border: 1px solid #0076e9;
}

.selectedAnswer {
  background-color: purple;
  color: white;
  border: 1px solid plum;
}
.round-pointer-right
{
    position: absolute;
    background-color:#ccc;
    cursor:pointer;
    width:10px;
    height:10px;
    border-radius: 50%;
    right:0px;
    top:14px;
    margin-right:-20px;
}

.round-pointer-left
{
    position: absolute;
    background-color:#ccc;
    cursor:pointer;
    width:10px;
    height:10px;
    border-radius: 50%;
    left:0px;
    top:14px;
    margin-left:-20px;
}

.selected {
    background-color: red;
}

#connection-canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 100;
    bottom: 0;
    z-index:2;
}

#c2-wrapper {
    width:50%;
}

/*.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  z-index: 100;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left:0;
}*/
.svg-content {
  max-width:100%;
  max-height:100%; 
}

.nomargegauche {
  padding-right:0 !important;
  margin-right:0 !important;
}

.conts {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}
.svg{
width:100%;
height:100%; 
position: absolute;
top:0;
left:0;
}

.nomargedroite {
  padding-left:0 !important;
  margin-left:0 !important;
}

.row {
  display: flex;
}

.quizBtn{
  float:left;
  z-index:1002;
  padding: 8px 20px;
  background-color: #FFFFFF;
  color: #9629ba;
  border: solid #4893B3 1px;
  cursor: pointer;
}

.quizBtn:hover{
  z-index:1002;
  padding: 8px 20px;
  background-color: #9629ba;
  color: #FFFFFF;
  border: solid #4893B3 1px;
  cursor: pointer;
}

.round-pointer-right {

}