<script type="text/javascript" src="../jqSimpleConnect.js"></script>
<div class="row">
    <div class="fusion-header" style="overflow: visible;">    
    <div class="fusion-logo" id="headerData" data-margin-top="15px" data-margin-bottom="15px" data-margin-left="0px" data-margin-right="0px" style="margin-top: 15px;">
            <a class="fusion-logo-link" href="http://www.laparoleauxsourds.fr/" style="margin-left:15px;float:left;">
                <img src="http://www.laparoleauxsourds.fr/wp-content/uploads/2017/04/logo_la-parole-aux-sourds.png" width="111" height="120" alt="La Parole Aux Sourds" class="fusion-logo-1x fusion-standard-logo">
            </a>      
            <canvas id="animationField" height="150px" width="150px">
            </canvas>
        </div>
    </div>
    </div>
    <!-- TODO, merge this with quiz behaviour -->
    <div id="quiz" class="">
    </div>
    <div class="row">
    <div class="col-xs-4 nomargegauche">
        <div #selector class="answer-cont" (click)="selectAnswer1(word1, idx)" [attr.id]="'test'+ idx" [class.selectedAnswer]="word1 == answer1" *ngFor="let word1 of lefties; let idx = index;">
             {{word1}} 
        </div>
    </div>
    <div class ="col-xs-4  nomargegauche nomargedroite">
        <div class="conts">
        <svg version="1.1" class="svg">
                <line style="stroke:rgb(255, 0, 179);stroke-width:2" *ngFor="let el of lines" [attr.x1]="el.x1" [attr.x2]="el.x2" [attr.y1]="el.y1" [attr.y2]="el.y2" />
           
        </svg>
        </div>
    </div>
    <div class="col-xs-4 nomargedroite">
        <div #selector2 class="answer2-cont" [attr.id]="idx2" (click)="selectAnswer2(word2, idx2)" [class.selectedAnswer]="word2 == answer2" *ngFor="let word2 of righties; let idx2 = index"> {{word2}}</div>    

    </div>
</div>

<br>
<script type="text/javascript">
    jqSimpleConnect.connect("#test1", "#5", {radius: 100, color: 'green'});
</script> 
  <!--     <div class="row padding-answer-line-mapping">
        <div class="col answer-container">
          Nationalité étrangère
          <div class="round-pointer-right"></div>
        </div>
        <div class="col">

        </div>
        <div class="col answer-container">
          Livret de famille 
          <div class="round-pointer-left"></div>
        </div>
    </div>
    <div class="row padding-answer-line-mapping">
        <div class="col answer-container">
          Taux d’incapacité > ou = à 50%
          <div class="round-pointer-right"></div>
        </div>
        <div class="col">
            
        </div>
        <div class="col answer-container">
          Carte d’identité
          <div class="round-pointer-left"></div>
        </div>
    </div>
     <div class="row padding-answer-line-mapping">
        <div class="col answer-container">
          Nationalité française
          <div class="round-pointer-right"></div>
        </div>
        <div class="col">
            
        </div>
        <div class="col answer-container">
          Bulletins de salaire 
          <div class="round-pointer-left"></div>
        </div>
    </div>
     <div class="row padding-answer-line-mapping">
        <div class="col answer-container">
          Inapte au travail
          <div class="round-pointer-right"></div>
        </div>
        <div class="col">
            
        </div>
        <div class="col answer-container">
          Carte du combattant
          <div class="round-pointer-left"></div>
        </div>
    </div>
     <div class="row padding-answer-line-mapping">
        <div class="col answer-container">
          Cessation d’activité
          <div class="round-pointer-right"></div>
        </div>
        <div class="col">
            
        </div>
        <div class="col answer-container">
          Certificat médical
          <div class="round-pointer-left"></div>
        </div>
    </div>
     <div class="row padding-answer-line-mapping">
        <div class="col answer-container">
          Ancien combattant
          <div class="round-pointer-right"></div>
        </div>
        <div class="col">
            
        </div>
        <div class="col answer-container">
          Notification AAH 
          <div class="round-pointer-left"></div>
        </div>
    </div>
       <div class="row padding-answer-line-mapping">
        <div class="col answer-container">
          Salarié
          <div class="round-pointer-right"></div>
        </div>
        <div class="col">
            
        </div>
        <div class="col answer-container">
          Déclaration sur l’honneur 
          <div class="round-pointer-left"></div>
        </div>
    </div>
         <div class="row padding-answer-line-mapping">
        <div class="col answer-container">
          Enfant élevé
          <div class="round-pointer-right"></div>
        </div>
        <div class="col">
            
        </div>
        <div class="col answer-container">
          Titre de séjour valide 
          <div class="round-pointer-left"></div>
        </div>
    </div> 
        
      <button id="next-question-button">Next Question</button>
      <button id="prev-question-button">Previous</button> -->
    <div class="row">
      <div class="col-xs-push-5 col-xs-2"> 
          <button id="submit-button" class="quizBtn" (click)="checkAnswers()"> Valider </button>
    </div>
    </div>
    <br>
    <br>
        <div class="row"> 
          <div class="col-xs-push-5 col-xs-2" id="quiz-results">
          <p id="quiz-results-message" *ngIf="correct && play"> Bien joué !</p>
          <p id="quiz-results-message" *ngIf="!correct && play "> Il reste encore des mauvaises réponses</p>
          
          <p id="quiz-results-score"></p>
        
        </div>
    </div> 
      <br>
      <br>
    
    <!-- IP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.15/fabric.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
