

html, body, h1, h2, h3, h4, h5, h6, li, ul, p, textarea, button, label, input {
    font-family: 'MyVerveine';
    font-size: 30px ;
    line-height: 30px ;
  }

  .image {
    width: auto;
    height: auto;
    padding: 2%;
    margin: 2%;
  }  
  .info{
    text-align: center;
  }

  .info li{
    list-style-type: none;
    color: #000;
  }

  .moduledico {
    top:0;
    position: fixed;
  }
/*  .info button{
    margin: 30px 0;
    -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
  }*/

/*  #flip{
    text-align: center;
    position: fixed;
    width:200px;
    left:40%;
    bottom: 0px;
    border-radius: 50px;
    z-index:1006;
    padding: 8px 20px;
    background-color: #FFFFFF;
    color: #9629ba;
    border: solid #4893B3 1px;
    cursor: pointer;
  }

  #flip:hover{
    text-align: center;
    position: fixed;
    width:200px;
    left:40%;
    bottom: 0px;
    border-radius: 50px;
    z-index:1006;
    padding: 8px 20px;
    background-color: #9629ba;
    color: #FFFFFF;
    border: solid #4893B3 1px;
    cursor: pointer;
  }*/

  #panel {
    
    display: flex;
    flex-direction: column-reverse;
    background-color: #f2faff;
    border: solid 3px #4893B3;
        
    /*width:100%;
    z-index:1006;
    padding: 5px;
    text-align: center;
    background-color: #f2faff;
    border: solid 1px #4893B3;
    position:fixed;
    bottom: 0px;
    width:100%;
    height: 500px;
    display: none;*/
  }

  #wordToTranslate {
    font-family: 'Times New Roman', Times, serif;
    /*width: 50%;*/
    text-decoration: underline;
  }

  #wordDescription {
    font-family: Arial, Helvetica, sans-serif;
    /*width: 50%;*/
    font-size: medium;
  }

  #panelContent {
    position:relative;
    width:100%;
  }

.quarterSized {
  border: solid #4893B3 1px;
  border-radius: 50px;
  
  padding: 2%;
  padding-left: 3%;
 /* width:24%;
  float:left;
  margin:0.5%;
  padding:2%;*/
}

.halfSized {
/*  width:49%;
  float:left;
  margin:0.5%;
  padding:2%;*/
  max-width: 500px;
  
}

.synonym {
  text-align: left;
  line-height:28px;
  left:0px;
}

.wordListElement {
  text-align: left;
  left:0px;
}

#wordSearch {
  float:left;
  width:50%;
}

#wordSynonyms {
  float:left;
  width:80%;
  left:10%;
}

#wordSearchBtn {
  width:100px;
  height:20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  color: #9629ba;
  border: solid #4893B3 1px;
  cursor: pointer;
  float:left;
}
.barresearch {
  float: left;
  width: 75%;
}

.iconesearch {
  float: right;

}

#wordSearchBtn:hover {
  width:100px;
  height:20px;
  border-radius: 20px;
  background-color: #9629ba;
  color: #FFFFFF;
  border: solid #4893B3 1px;
  cursor: pointer;
  float:left;
}

#wordSynonyms {
  float:left;
  clear:both;
  width:100%;
}

#searchErrorMsg {
  float:left;
  clear:both;
}

#wordListLabel {
  float:left;
  clear:both;
}

#wordList {
  float:left;
  overflow: scroll;
  height: 150px;
}

@font-face{ 
  font-family: 'MyVerveine';
  src: url('./../policies/Verveine_Corp.otf') format("opentype");
}

/*.words {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }*/
.words li {
    list-style-type: none;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: 0.5%;
    padding: 0.3% 0;
    height: 1.6%;
    border-radius: 2%;
 }

 .words li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .words li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: 1%;
  }
/* .words .text {
    position: relative;
    top: -3px;
  }*/
  .badge {
   /* display: inline-block;*/
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   /* padding: 0.8em 0.7em 0 0.7em;*/
    background-color: #607D8B;
/*    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;*/
  }
